.container {
  padding: 24px;

  .title {
    margin-bottom: 16px;
  }

  .list {
    margin: 16px 0;
    padding-left: 20px;

    li {
      margin-bottom: 8px;
    }
  }

  .buttonGroup {
    margin-top: 16px;
  }
}