.userDropdown {
  display: flex;
  align-items: center;
  margin-left: 16px;

  .userAvatar {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;

    .userName {
      font-size: 14px;
    }
  }
}